<body>
    <h1>Raspored vjenčanja</h1>
    <div class="timeline">
      <ul>
        <li>
          <div class="content">
            <h3>Okupljanje</h3>
            <p>Nađimo se na terasi <i>7seas</i> i uživajmo u koktelima!</p>
          </div>
          <div class="time">
            <h4>16:30</h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3>Ceremonija</h3>
            <p>Vjenčana ceremonija održat će se na molu.</p>
          </div>
          <div class="time">
            <h4>17:30</h4>
          </div>
        </li>
        
        <li>
          <div class="content">
            <h3>Večera i party</h3>
            <p>Nakon ceremonije i fotografiranja, slijedi večera i slavlje :)</p>
          </div>
          <div class="time">
            <h4>19:00</h4>
          </div>
        </li>
        <div style="clear:both;"></div>
      </ul>
    </div>
</body>
