<!-- Svadbeni Foto Album Sekcija -->
<section id="photo-album" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Svadbeni Foto Album</h2>
                <p class="text-muted">Pomozite nam napraviti zajednički foto album sa pira :) Skenirajte QR code ili kliknite na link.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <img src="/img/backgrounds/qr-code.png" alt="Skenirajte za dodavanje fotografija" class="img-responsive center-block" style="max-width: 300px;">
                <p class="text-muted">Ili kliknite <a href="https://drive.google.com/drive/folders/1_lPCavVawSWo3rneioJaaO-T4KHHBkST?usp=sharing" target="_blank">ovdje</a> za prijenos fotografija.</p>
            </div>
        </div>
    </div>
</section>
