<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Smještaj</h2>
                <h3 class="section-subheading text-muted">Za naše goste koji ne dolaze iz Rijeke ili sa Krka, rezervirali smo sobe u hotelu Magal. 
                    Molimo da nam javite ako želite jednu ili više od soba koje smo rezervirali.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        Ime
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Hotel Magal</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Primorska cesta 40, 51512, Njivice, Croatia</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.aminess.com/de/magal-hotel-by-aminess">https://www.aminess.com/en/magal-hotel-by-aminess</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">350 m od restorana <i>7seas</i></span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        Ime
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Hotel Veya</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Primorska cesta 29, 51512, Njivice</span>
                            </li>
    
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.aminess.com/en/veya-hotel-by-aminess">https://www.airbnb.com/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">280 m od restorana <i>7seas</i></span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        Ime
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Aminess Style Glamping Villas & Holiday Homes Atea
                                </span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist"> Primorska cesta 41, 51512, Njivice</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.aminess.com/en/holiday-homes-atea">https://www.aminess.com/en/holiday-homes-atea/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">350 m od restorana <i>7seas</i></span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        Ime
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Aminess Style Green Villas
                                </span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Primorska cesta 99, 51512, Njivice</span>
                            </li>
                          
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.aminess.com/hr/aminess-gaia-green-villas#topic-91792">https://www.aminess.com/hr/aminess-gaia-green-villas#topic-91792</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">61 m od restorana <i>7seas</i></span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                </ul>
           
            </div>
        </div>
    </div>
</section>