<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Smještaj</h2>
                <h3 class="section-subheading text-muted">
                    Za naše goste koji ne dolaze iz Rijeke ili sa Krka, rezervirali smo sobe u hotelu Magal. 
                    Molimo da nam javite ako želite jednu ili više od soba koje smo rezervirali.
                </h3>
            </div>
        </div>

        <!-- Accommodation Table -->
        <div class="row">
            <div class="col-lg-12 table-container">
                <table>
                    <tr>
                        <!-- First Row -->
                        <td>
                            <h4>Hotel Magal</h4>
                            <p><i class="fa fa-map-marker"></i> Primorska cesta 40, 51512, Njivice, Croatia</p>
                            <p><i class="fa fa-car"></i> 350 m od restorana <i>7seas</i></p>
                            <p><a href="https://www.aminess.com/en/magal-hotel-by-aminess">
                                Posjeti web stranicu <i class="fas fa-external-link-alt"></i>
                            </a></p>
                        </td>
                        <td>
                            <h4>Hotel Veya</h4>
                            <p><i class="fa fa-map-marker"></i> Primorska cesta 29, 51512, Njivice</p>
                            <p><i class="fa fa-car"></i> 280 m od restorana <i>7seas</i></p>
                            <p><a href="https://www.aminess.com/en/veya-hotel-by-aminess">
                                Posjeti web stranicu <i class="fas fa-external-link-alt"></i>
                            </a></p>
                        </td>
                    </tr>
                    <tr>
                        <!-- Second Row -->
                        <td>
                            <h4>Glamping Villas & Holiday Homes Atea</h4>
                            <p><i class="fa fa-map-marker"></i> Primorska cesta 41, 51512, Njivice</p>
                            <p><i class="fa fa-car"></i> 350 m od restorana <i>7seas</i></p>
                            <p><a href="https://www.aminess.com/en/holiday-homes-atea">
                                Posjeti web stranicu <i class="fas fa-external-link-alt"></i>
                            </a></p>
                        </td>
                        <td>
                            <h4>Aminess Style Green Villas</h4>
                            <p><i class="fa fa-map-marker"></i> Primorska cesta 99, 51512, Njivice </p>
                            <p><i class="fa fa-car"></i> 61 m od restorana <i>7seas</i></p>
  
