
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The wedding timeline</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                    <div class="timeline">
                      <ul>
                        <li>
                          <div class="content">
                            <h3>Get-together</h3>
                            <p>HMeet up at the <i>7seas</i> terrace and have some cocktails! </p>
                          </div>
                          <div class="time">
                            <h4>4.30 pm</h4>
                          </div>
                        </li>
                        
                        <li>
                          <div class="content">
                            <h3>Ceremony</h3>
                            <p>The wedding ceremony will take place on the pier.</p>
                          </div>
                          <div class="time">
                            <h4>5.30 pm</h4>
                          </div>
                        </li>
                        
                        <li>
                          <div class="content">
                            <h3>Dinner & party</h3>
                            <p> After the ceremony and photos, we'll have dinner and celebrate :)</p>
                          </div>
                          <div class="time">
                            <h4>7 pm</h4>
                          </div>
                        </li>
                        <div style="clear:both;"></div>
                      </ul>
                  
            </div>
        </div>
    </div>




