<!-- Events Section -->
<section id="events">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">The Wedding</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <ul class="timeline">
                  <!-- First Event -->
                  <li>
                      <div class="timeline-image">
                          <img class="img-circle img-responsive" src="../img/events/2.png" alt="">
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4>Gathering</h4>
                              <h6>16:30</h6>
                              <h6><i>7seas</i> terrace</h6>
                              <div class="timeline-body">
                                <p class="text-muted">Meet up and enjoy some cocktails on the terrace!</p>
                            </div>
                          </div>
                      </div>
                  </li>

                  <!-- Second Event (Inverted) -->
                  <li class="timeline-inverted">
                      <div class="timeline-image">
                          <img class="img-circle img-responsive" src="../img/events/1.png" alt="">
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4>Ceremony</h4>
                              <h6>17:00</h6>
                              <h6><i>7seas</i> pier</h6>
                          </div>
                          <div class="timeline-body">
                            <p class="text-muted">See us get married and take some photos with us :)</p>
                          </div>
                      </div>
                  </li>

                  <!-- Third Event -->
                  <li>
                      <div class="timeline-image">
                          <img class="img-circle img-responsive" src="../img/events/3.png" alt="">
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4>Celebration</h4>
                              <h6>19:00</h6>
                              <h6><i>7seas</i> restaurant & bar</h6>
                              <div class="timeline-body">
                                <p class="text-muted">Let's have some dinner and get the party started</p>
                              </div>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>

