
<!-- Events Section -->
<section id="events">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Celebration plan</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <ul class="timeline">
                  <li>
                      <div class="timeline-image">
                          <img class="img-circle img-responsive" src="../img/events/cocktail.png" alt="">
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4>Gathering</h4>
                              <h6>16:30</h6>
                              <h6><i>7seas</i> terrace</h6>
                          </div>
                          <div class="timeline-body">
                            <p class="text-muted">Meet up and enjoy some cocktails on the terrace!</p>
                        </div>
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-image">
                          <img class="img-circle img-responsive" src="../img/events/ringspng.png" alt="">
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4>Wedding ceremony</h4>
                              <h6>17:00</h6>
                              <h6><i>7seas</i> pier</h6>
                          </div>
                          <div class="timeline-body">
                            <p class="text-muted">See us get married and take some photos with us :)</p>
                  </li>
                  <li>
                      <div class="timeline-image">
                          <img class="img-circle img-responsive" src="../img/events/mirror-ball.png" alt="">
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4>Dinner and party</h4>
                              <h6>19:00</h6>
                              <h6><i>7seas</i> restaurant & bar</h6>
                          </div>
                          <div class="timeline-body">
                            <p class="text-muted">Let's have some dinner and get the party started</p>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>