<!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

<!-- Countdown Script -->
<script src="{{ "/js/simplyCountdown.js" | prepend: site.baseurl }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        simplyCountdown('#countdown', {
            year: 2025,
            month: 5,
            day: 31,
            hours: 0,
            minutes: 0,
            seconds: 0,
            words: { 
                days: 'Days', 
                hours: 'Hours', 
                minutes: 'Minutes', 
                seconds: 'Seconds' 
            },
            plural: true,
            inline: false,
            enableUtc: false,
            onEnd: function() { return; }
        });
    });
</script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>
