<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Accommodation</h2>
                <h3 class="section-subheading text-muted">
                    If you're not traveling from Rijeka or Krk, we've reserved rooms at the Magal Hotel for our guests.
                    Please let us know if you'd like one or more of the rooms we've reserved.
                </h3>
            </div>
        </div>

        <!-- Accommodation Table -->
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered text-center">
                    <tr>
                        <!-- First Row -->
                        <td>
                            <h4>Hotel Magal</h4>
                            <p><i class="fa fa-map-marker"></i> Primorska cesta 40, 51512, Njivice, Croatia</p>
                            <p><i class="fa fa-car"></i> 350 m from the <i>7seas</i> restaurant</p>
                            <p><a href="https://www.aminess.com/en/magal-hotel-by-aminess">
                                Visit Website <i class="fas fa-external-link-alt"></i>
                            </a></p>
                        </td>
                        <td>
                            <h4>Hotel Veya</h4>
                            <p><i class="fa fa-map-marker"></i> Primorska cesta 29, 51512, Njivice</p>
                            <p><i class="fa fa-car"></i> 280 m from the <i>7seas</i> restaurant</p>
                            <p><a href="https://www.aminess.com/en/veya-hotel-by-aminess">
                                Visit Website <i class="fas fa-external-link-alt"></i>
                            </a></p>
                        </td>
                    </tr>
                    <tr>
                        <!-- Second Row -->
                        <td>
                            <h4>Aminess Style Glamping Villas & Holiday Homes Atea</h4>
                            <p><i class="fa fa-map-marker"></i> Primorska cesta 41, 51512, Njivice</p>
                            <p><i class="fa fa-car"></i> 350 m from the <i>7seas</i> restaurant</p>
                            <p><a href="https://www.aminess.com/en/holiday-homes-atea">
                                Visit Website <i class="fas fa-external-link-alt"></i>
                            </a></p>
                        </td>
                        <td>
                            <h4>Aminess Style Green Villas</h4>
                            <p><i class="fa fa-map-marker"></i> Primorska cesta 99, 51512, Njivice</p>
                            <p><i class="fa fa-car"></i> 61 m from the <i>7seas</i> restaurant</p>
                            <p><a href="https://www.aminess.com/hr/aminess-gaia-green-villas#topic-91792">
                                Visit Website <i class="fas fa-external-link-alt"></i>
                            </a></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
